# Operadores aritméticos

- Crie uma operação de adição

In [1]:
8+4

12

- Crie uma operação de multiplicação

In [2]:
3*7

21

- Crie uma operação de adição com strings (concatenação)

In [4]:
'aldo ' + 'fernanda'

'aldo fernanda'

- Crie uma operação de multiplicação com string

In [6]:
'aldo ' * 3

'aldo aldo aldo '

- Crie uma operação de potenciação

In [8]:
2 ** 3

8

- Crie uma operação de subtração

In [9]:
7 - 2

5

- Crie uma operação de divisão

In [11]:
16 / 5

3.2

- Crie uma operação de divisão inteira

In [13]:
16 // 5

3

- Crie uma operação de módulo

In [17]:
16 % 5

1

- Crie uma operação aritmética usando variáveis

In [18]:
a = 3
b = 5
a * b

15

# Operadores relacionais

- Relacione dois valores usando o operador "maior que"

In [19]:
9 > 7

True

- Relacione dois valores usando o operador "maior que ou igual a"

In [21]:
9 >= 9

True

- Relacione dois valores usando o operador "menor que"

In [22]:
7 < 8

True

- Relacione dois valores usando o operador "menor que ou igual a"

In [23]:
7 <= 7

True

- Relacione dois valores usando o operador "igual a"

In [24]:
11 == 11

True

- Relacione dois valores usando o operador "diferente de"

In [25]:
11 != 12

True

# Operadores lógico

- Crie uma operação lógica com o operador "and"

In [27]:
7 == 7 and 9 > 8 # se uma das operacoes for falça quando usado o operador logico and, ele retorna falso

True

- Crie uma operação lógica com o operador "or"

In [28]:
'aldo' == 'aldo' or 13 <= 12

True

- Crie uma operação lógica com o operador "not"

In [29]:
print("a" not in "banana")  # False (porque "a" está em "banana")

False

# Operadores de associação

- Verifique se um valor está contido em uma lista

In [53]:
lista_01 = ('al', 'el', 'il', 'ol')

if 'el' in lista_01:
    print('Esta na lista')

Esta na lista

- Verifique se uma string não está contida em outra

In [54]:
# Verificando se uma letra não está em uma palavra
letra = "z"
palavra = "abacaxi"
print(letra not in palavra)  # True (porque "z" não está em "abacaxi")

True